* {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.mobile-menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999;
    display: none;
}

.top-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100vw;
    height: 550px;
    background-image: url("/assets/mobile/image-header.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}